{% extends 'base.html' %} {% block content %}
<h1>A Place for Creatives</h1>
<hr />
<div>
    <div class="home-display">
        <img class="home-img" src="../static/images/Artists.jpeg" alt="artist">
        <div class="home1"><h3>Make</h3>
            <p>Your world as an artist...</p><br/>  
            <p>...created by you and your unique lens.</p><br/>
        </div>
        <img class="home-img" src="../static/images/UploadDude.jpeg" alt="artist">
        <div class="home2">
            <h3>Upload</h3>
            <p>Celebrate your creation by putting your piece in your gallery.</p>  
        </div>  
        <img class="home-img" src="../static/images/Browsing.jpeg" alt="artist">
        <div class="home2">
            <h3>Browse</h3>
            <p>Use the Global Art section to discover what other artist have done and are working on. Be inspired by their genius!</p>  
        </div>  
        <h2>Coming Soon!</h2>
        <div class="home3">
            <h3>Build Community</h3>
            <p>Share in the excitement of being discovered by other artist or enthusiasts while also finding people who inspire you! Like and comment other's art.</p>
            <img class="home-img" src="../static/images/ArtShare.webp" alt="Share"> 
        </div>
        <div class="home4">
            <h3>Collect</h3>
            <p>Save pieces and artist that inspire or impact you in your personalized collection.</p> 
            <img class="home-img" src="../static/images/Collection.jpeg" alt="Collect"> 
        </div>

    </div>
</div>


{% endblock %}
